/* All div classes with prefix "top", i.e., top-level divs for the SPA.
 */
[class*="top"] {
  /* Hide by default. */
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  /* Animation for tab divs. */
  animation: fadeEffect 1s;
}

/* Animation for tab divs. */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Style the tabs */
.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content. */
.tabs button {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover. */
.tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class. */
.tabs button.active {
  background-color: #ccc;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}

.submit button {
  color: #369;
  font-family: Arial;
  font-weight: bold;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

.submit button:hover {
  background-color: #cfd8dc;
}

.submit button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.divider {
  width:   5px;
  height:  auto;
  display: inline-block;
}

/* Navigation link styles. */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;

}
nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

/* Everything else. */
* {
  font-family: Arial, Helvetica, sans-serif;
}
